<a href="https://colab.research.google.com/github/berkayberatsonmez/Colab/blob/main/Project1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [62]:
import pandas as pd

In [63]:
def calculation(midterm_exam1, midterm_exam2, final):

  letter_grade = ''
  result = ''
  score = (midterm_exam1 * 30 / 100) + (midterm_exam2 * 30 / 100) + (final * 40 / 100)

  if (100 >= score >= 85) :
    print('Pass')
    letter_grade = 'A'
    result = 'Pass'

  elif (85 > score >= 70) :
    print('Pass')
    letter_grade = 'B'
    result = 'Pass'

  elif (70 > score >= 55) :
    print('Pass')
    letter_grade = 'C'
    result = 'Pass'

  elif (55 > score >= 40) :
    print('Pass')
    letter_grade = 'D'
    result = 'Pass'

  else:
    print('Fail')
    letter_grade = 'F'
    result = 'Fail'
    
  return score,letter_grade,result

In [64]:
while True:

  decision = input('Do you wanna add new student or clean data set [Yes/No/Clean]:')

  if decision.lower() == 'yes' or decision.lower() == 'y':

    try:
      data = {}
      name = input('Enter your Name:')
      surname = input('Enter your Surname:')
      student_class = input('Enter your Class:')
      lesson = input('Enter your Lesson')
      midterm1 = int(input('Enter 1.Midterm Exam:'))
      midterm2 = int(input('Enter 2.Midterm Exam:'))
      final_exam = int(input('Enter Final Exam:'))
      gpa,grade,result = calculation(midterm1, midterm2, final_exam)
      data = {'Name': name, 'Surname': surname, 'Class': student_class, 'Lesson': lesson, '1.Midterm_Exam': midterm1, '2.Midterm_Exam': midterm2, 'Final': final_exam, 'GPA': gpa, 'Grade_Status': grade, 'Result': result}
      df = df.append(data, ignore_index = True)

    except:
      print("Enter correct type")
      data = {}

  elif decision.lower() == 'clean' or decision.lower() == 'c':
    df = df.drop(range(len(df)))
    print('Data deleting...')

  else:
    break

Do you wanna add new student or clean data set [Yes/No/Clean]:yes
Enter your Name:berkay berat
Enter your Surname:sonmez
Enter your Class:12-a
Enter your LessonMath
Enter 1.Midterm Exam:85
Enter 2.Midterm Exam:90
Enter Final Exam:70
Pass
Do you wanna add new student or clean data set [Yes/No/Clean]:Yes
Enter your Name:berkay berat
Enter your Surname:sonmez
Enter your Class:12-a
Enter your LessonMath
Enter 1.Midterm Exam:10
Enter 2.Midterm Exam:10
Enter Final Exam:10
Fail
Do you wanna add new student or clean data set [Yes/No/Clean]:no

In [66]:
df

,Name,Surname,Class,Lesson,1.Midterm_Exam,2.Midterm_Exam,Final,GPA,Grade_Status,Result
0,berkay berat,sonmez,12-a,Math,85,90,70,80.5,B,Pass
1,berkay berat,sonmez,12-a,Math,10,10,10,10.0,F,Fail

In [65]:
df.to_excel("output.xlsx")